{% extends "layout.html" %}

{% block content %}

<h1 class="ui header">{{title}}</h1>
<br>
<h2 class="ui header"> Hi {{ current_user.first_name }}!</h2>

<div class="row">
    <div class="column">
        {% if current_user.is_authenticated %}
        <br>
        <h3 class="ui text">Upload your style image here:</h3>

        <form id="upload-form" action="{{ url_for('upload_style') }}" method="POST" enctype="multipart/form-data">

            <strong>Files:</strong><br>
            <input id="file-picker" type="file" name="file" accept="image/*" multiple>
            <div id="msg"></div>
            <input type="submit" value="Upload!" id="upload-button">
        </form>

        <h2 class="ui header"> {{ success }}</h2>
        <div>
            {% block style_image %}{% endblock %}
        </div>



    </div>
    <div class="column">
        <br>
        <h3 class="ui text">Upload your content image here:</h3>

        <form id="upload-form2" action="{{ url_for('upload_content') }}" method="POST" enctype="multipart/form-data">

            <strong>Files:</strong><br>
            <input id="file-picker" type="file" name="file" accept="image/*" multiple>
            <div id="msg"></div>
            <input type="submit" value="Upload!" id="upload-button">
        </form>

        <h2 class="ui header"> {{ success }}</h2>
        <div>
            {% block content_image %}{% endblock %}
        </div>

    </div>
</div>

<div>
    {% block gallery %}{% endblock %}
</div>

{% else %}
<h2 class="ui header">Please login</h2>
{% endif %}



{% endblock %}